@use '../../../../styleConfig/fonts_variables' as font;
@use '../../../../styleConfig/mixins' as mixins;
@use '../../../../styleConfig/colors' as color;
@use '../../../../styleConfig/block_varibales' as blockvb;

.tablet-filter{
    width: fit-content;
    background: color.$white;
    border: 2px solid color.$gray-modern-400;
    border-left: none;
    border-radius: blockvb.$pd-mg-12;
    border-radius: 0px;
    font-size: font.$font-size16;
    cursor: pointer;
    user-select: none;
    position: static;
    width: 100%;
}

.tablet-filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: blockvb.$pd-mg-10 blockvb.$pd-mg-16;
}

.tablet-filter-title{
    font-size: font.$font-size16;
    color: color.$gray-modern-800;
}

.dropdown-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease;
    color: color.$gray-modern-700;
}

.tablet-filter-contnet{
    position: absolute;
    background: color.$white;
    left: 0;
    top: 100%;
    margin-top: 12px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: -1px 0px 8px -1px rgba(5, 5, 6, 0.2);
    -moz-box-shadow: -1px 0px 8px -1px rgba(5, 5, 6, 0.2);
    box-shadow: -1px 0px 8px -1px rgba(5, 5, 6, 0.2);
    padding: blockvb.$pd-mg-16;
    display: none;
    cursor: default;
}

.filter-visible{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
}

.section-title{
    font-size: font.$font-size14;
    margin-bottom: blockvb.$pd-mg-10;
    margin-top: blockvb.$pd-mg-16;
    font-weight: font.$rb-weight-semibold;
    color: color.$gray-modern-700;
}

.right-side{
    padding: 0px 16px;
}