@use '../../../../styleConfig/fonts_variables' as font;
@use '../../../../styleConfig/mixins' as mixins;
@use '../../../../styleConfig/colors' as color;
@use '../../../../styleConfig/block_varibales' as blockvb;


.tablet-filter{
    width: fit-content;
    background: color.$white;
    border: 2px solid color.$gray-modern-400;
    border-left: none;
    border-radius: blockvb.$pd-mg-12;
    border-radius: 0px;
    font-size: font.$font-size16;
    cursor: pointer;
    user-select: none;
    position: static;
    width: 100%;
}

.tablet-filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: blockvb.$pd-mg-10 blockvb.$pd-mg-16;
}

.tablet-filter-title{
    font-size: font.$font-size16;
    color: color.$gray-modern-800;
}

.dropdown-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease;
    color: color.$gray-modern-700;
}

.tablet-filter-contnet{
    position: absolute;
    background: color.$white;
    left: 0;
    top: 100%;
    margin-top: 12px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: -1px 0px 8px -1px rgba(5, 5, 6, 0.2);
    -moz-box-shadow: -1px 0px 8px -1px rgba(5, 5, 6, 0.2);
    box-shadow: -1px 0px 8px -1px rgba(5, 5, 6, 0.2);
    padding: blockvb.$pd-mg-16;
    display: none;
    cursor: default;
}

.filter-visible{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
}




// muilticheckbx

.filter-multiCheckboxBlock{
    display: flex;
    flex-direction: column;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: color.$gray-modern-300;
    }
}

.checkbox-item{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: blockvb.$pd-mg-16;
}

.checkbox-item:first-child{
    margin-top: 0px;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    width: 20px;
    height: 20px; 
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
    transition: background-color 0.2s, border-color 0.2s;
}

.custom-checkbox input:checked + .checkmark {
    background-color: color.$gray-modern-700;
    border-color: color.$gray-modern-700;
}

.custom-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 50%; 
    top: 50%;
    width: 16px;
    height: 16px; 
    background-image: url('../../../../assets/icons/svg/check.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.checkbox-item-title{
    font-size: font.$font-size14;
    font-weight: font.$rb-weight-regular;
    color: color.$gray-modern-800;
}




.tablet-select-room-content{
    background: color.$white;
    cursor: default;
}

.tablet-select-isvisible{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}

.tablet-select-room-tabbar{
    height: 40px;
    padding: 0px 12px;
    border: 1px solid color.$gray-modern-400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: font.$font-size14;
    color: color.$gray-modern-900;
    font-weight: font.$rb-weight-medium;
    cursor: pointer;
}

.tablet-active-select-tab{
    border: 2px solid color.$gray-modern-500;
}

.section-title{
    font-size: font.$font-size14;
    margin-bottom: blockvb.$pd-mg-10;
    margin-top: blockvb.$pd-mg-16;
    font-weight: font.$rb-weight-semibold;
    color: color.$gray-modern-700;
}

.tablet-filter-appbar{
    display: flex;
    border: 2px solid color.$gray-modern-700;
    border-radius: blockvb.$pd-mg-6;
}

.appbar-tab{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: blockvb.$pd-mg-8 blockvb.$pd-mg-16;
    color: color.$gray-modern-500;
    transition: .3s color ease;
    position: relative;
    cursor: pointer;
}

.active-appbar-tab{
    background: color.$gray-modern-700;
    color: #fff;
}

.right-side{
    padding: 0px 16px;
}