@use '../../../../../../styleConfig/fonts_variables' as font;
@use '../../../../../../styleConfig/mixins' as mixins;
@use '../../../../../../styleConfig/colors' as color;
@use '../../../../../../styleConfig/block_varibales' as blockvb;

.tablet-filter-appbar {
    display: flex;
    border: 2px solid color.$gray-modern-700;
    border-radius: blockvb.$pd-mg-6;

    &__tab {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: blockvb.$pd-mg-8 blockvb.$pd-mg-16;
        color: color.$gray-modern-500;
        transition: .3s color ease;
        position: relative;
        cursor: pointer;
        font-size: font.$font-size14;
    }

    &__tab--active {
        background: color.$gray-modern-700;
        color: #fff;
    }
}