@use '../../../../../../styleConfig/fonts_variables' as font;
@use '../../../../../../styleConfig/mixins' as mixins;
@use '../../../../../../styleConfig/colors' as color;
@use '../../../../../../styleConfig/block_varibales' as blockvb;

.tablet-select-room {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
        font-size: font.$font-size14;
        margin-top: blockvb.$pd-mg-16;
        font-weight: font.$rb-weight-semibold;
        color: color.$gray-modern-700;
    }

    &__content {
        background: color.$white;
        cursor: default;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }
}
