@use '../../styleConfig/fonts_variables' as font;
@use '../../styleConfig/mixins' as mixins;
@use '../../styleConfig/colors' as color;
@use '../../styleConfig/block_varibales' as blockvb;

.hero {
    width: 100%;
    max-width: 1168px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    background: color.$white;
    padding: blockvb.$pd-mg-32 blockvb.$pd-mg-24;
    margin-top: 24px;
    border-radius: 24px;
    font-family: font.$rb-font;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.searchHead {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.switch {
    display: flex;
    align-items: center;
}

.switchBtn {
    padding: 0px 16px;
    height: 56px;
    background: none;
    outline: none;
    border: none;
    position: relative;
    font-family: font.$rb-font;
    font-size: font.$font-size14;
    font-weight: font.$rb-weight-medium;
    color: color.$gray-modern-400;
    cursor: pointer;
    transition: color .2s ease;

    &:hover {
        color: color.$gray-modern-900;
    }
}

.active{
    color: color.$gray-modern-800;
}


.active::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: color.$gray-modern-900;
}

.searchContent {
    display: grid;
    align-items: center;
    margin-top: 24px;
    background: color.$gray-modern-600;
    border-radius: blockvb.$pd-mg-12;
    position: relative;
}

.descGrid {
    grid-template-columns: minmax(100px, 2fr) minmax(100px, 1fr) minmax(150px, 1.5fr) minmax(200px, 2fr) minmax(100px, 1fr);
}

.typePriceAddressSearch{
    grid-template-columns: minmax(100px, 2fr) minmax(150px, 1.5fr) minmax(200px, 2fr) minmax(100px, 1fr);
}

// .descGrid > div:nth-child(3) { /* Пример для второго элемента */
//     min-width: 100px; /* Минимальная ширина */
//     max-width: 160px; /* Максимальная ширина */
// }

.mobileGrid {
    grid-template-columns: 5fr 1fr 2fr;
}

.searchBtn {
    height: 100%;
    border: none;
    outline: none;
    background: none;
    color: color.$white;
    font-family: font.$rb-font;
    font-size: font.$font-size16;
    font-weight: font.$rb-weight-regular;
    cursor: pointer;
}


@media (max-width: 480px) {
    .hero {
        padding: 20px 14px;
    }
    .searchBtn {
        font-size: font.$font-size12;
    }

    .switchBtn{
        padding: 0px 10px;
        font-size: font.$font-size12;
        height: 36px;
    }
}