@use '../../../../../../styleConfig/fonts_variables' as font;
@use '../../../../../../styleConfig/mixins' as mixins;
@use '../../../../../../styleConfig/colors' as color;
@use '../../../../../../styleConfig/block_varibales' as blockvb;

.dropdown{
    width: 100%;
    display: inline-flex;
}


.dropdown-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.dropdown-title-wrapper,
.dropdown-list{
    padding: 0px 16px;
}

.dropdown-title-wrapper:active{
    background-color: color.$gray-modern-100;
}

.dropdown-title{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: color.$gray-modern-800;
}

.dropdown-title-text{
    font-size: font.$font-size14;
    font-weight: font.$rb-weight-semibold;
}

.dropdown-title-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-item{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: font.$font-size14;
    font-weight: font.$rb-weight-regular;
    color: color.$gray-modern-800;
}

.dropdown-list{
    height: 0px;
    overflow: hidden;
}

.dropdown-list-open{
    height: fit-content;
}



@media (max-width: 585px){
    .dropdown-title-wrapper,
    .dropdown-list{
        padding: 0px 12px;
    }
}