@use '../../../../styleConfig/fonts_variables' as font;
@use '../../../../styleConfig/mixins' as mixins;
@use '../../../../styleConfig/colors' as color;
@use '../../../../styleConfig/block_varibales' as blockvb;

.enter-city {
    width: fit-content;
    background: color.$white;
    border: 2px solid color.$gray-modern-400;
    border-left: none;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: font.$font-size16;
    user-select: none;
    position: relative;
    width: 100%;
}

.enter-city-header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
}

.enter-city-field {
    outline: none;
    border: none;
    width: 100%;
}

.enter-city-field::placeholder {
    font-size: font.$font-size16;
    font-size: font.$font-size16;
    color: color.$gray-modern-400;
}

.enter-city-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease;
    color: color.$gray-modern-400;
}

.enter-city-icon-rotate {
    transform: rotate(180deg);
}

.enter-city-title{
    width: 100%;
}

.clear-btn {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    color: color.$gray-modern-400;
    transition: .3s color ease;
    cursor: pointer;
    margin-left: auto;
    visibility: hidden;

    &:hover {
        color: color.$gray-modern-700;
    }
}

.enter-city-content {
    position: absolute;
    background: color.$white;
    left: 0;
    top: 100%;
    margin-top: 12px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: -1px 0px 8px -1px rgba(5, 5, 6, 0.2);
    -moz-box-shadow: -1px 0px 8px -1px rgba(5, 5, 6, 0.2);
    box-shadow: -1px 0px 8px -1px rgba(5, 5, 6, 0.2);
    display: none;
    gap: 10px;
    cursor: default;
    max-height: 250px;
    overflow-y: scroll;
}

.enter-city-isvisible {
    display: block;
}

.suggestion-category-title{
    padding: 10px 12px;
    font-size: font.$font-size14;
    font-weight: font.$rb-weight-semibold;
    color: color.$gray-modern-700;
}

.suggestion-category-item{
    padding: 10px 12px;
    font-size: font.$font-size14;
    transition: .2s ease;
    color: color.$gray-modern-800;
}

.suggestion-category-item:hover{
    background: color.$gray-modern-100;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .enter-city {
        border: 2px solid color.$gray-modern-400;
        border-top-left-radius: blockvb.$pd-mg-12;
        border-bottom-left-radius: blockvb.$pd-mg-12;
        position: static;
    }
}

@media (max-width: 480px){
    .enter-city-header {
        padding: 10px 10px;
        gap: 5px;
    }
    .enter-city-field::placeholder {
        font-size: font.$font-size14;
    }
}