@use '../../../../styleConfig/fonts_variables' as font;
@use '../../../../styleConfig/mixins' as mixins;
@use '../../../../styleConfig/colors' as color;
@use '../../../../styleConfig/block_varibales' as blockvb;


.price{
    display: flex;
    align-items: center;
    background: color.$gray-modern-100;
    border-radius: 8px;
    border: 1px solid color.$gray-modern-200;
}

.price-focused{
    border: 1px solid color.$gray-modern-400;
}

.price-field{
    width: 100%;
    outline: none;
    border: none;
    background: color.$gray-modern-100;
    padding: 11px 0px 11px 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: font.$font-size14;
    color: color.$gray-modern-800;
    font-weight: font.$rb-weight-medium;
}

.price-field::placeholder {
    color: color.$gray-modern-600;
    font-size: font.$font-size14;
    font-weight: font.$rb-weight-medium;
}

.price-field::-webkit-inner-spin-button,
.price-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.price-field::-moz-inner-spin-button {
    display: none; 
}

.price-symbol{
    padding: 0px 16px 0px 8px;
    font-size: font.$font-size14;
    color: color.$gray-modern-800;
}
