
// border-radius
$radius-2: 2px;   
$radius-4: 4px;   
$radius-6: 6px;   
$radius-8: 8px;   
$radius-10: 10px; 
$radius-12: 12px; 
$radius-16: 16px; 
$radius-20: 20px;

// ms
$ms-300: 0.3s;
$ms-400: 0.4s;
$ms-500: 0.5s;
$ms-600: 0.6s;
$ms-700: 0.7s;
$ms-800: 0.8s;
$ms-900: 0.9s;
$s-1: 1s;
$s-2: 2s;
$s-3: 3s;

// padding & margin
$pd-mg-2: 2px;
$pd-mg-4: 4px;
$pd-mg-6: 6px;
$pd-mg-8: 8px;
$pd-mg-10: 10px;
$pd-mg-12: 12px;
$pd-mg-14: 14px;
$pd-mg-16: 16px;
$pd-mg-18: 18px;
$pd-mg-20: 20px;
$pd-mg-22: 22px;
$pd-mg-24: 24px;
$pd-mg-26: 26px;
$pd-mg-28: 28px;
$pd-mg-30: 30px;
$pd-mg-32: 32px;
