
$white: #fff;
$gray-50: #FEFEFE;
$grey-100: #F8F8F8;
$grey-200: #F2F2F2;
$grey-300: #E4E4E4;
$grey-400: #C0C0C0;
$grey-500: #A2A2A2;
$grey-600: #797979;
$grey-700: #656565;
$grey-800: #464646;
$grey-900: #252525;
$black: #000

