
$white: #fff;
$gray-50: #FEFEFE;
$grey-100: #F8F8F8;
$grey-200: #F2F2F2;
$grey-300: #E4E4E4;
$grey-400: #C0C0C0;
$grey-500: #A2A2A2;
$grey-600: #797979;
$grey-700: #656565;
$grey-800: #464646;
$grey-900: #252525;
$black: #000;

// GRAY MODERN
$gray-modern-25: #FCFCFD;
$gray-modern-50: #F8FAFC;
$gray-modern-100: #EEF2F6;
$gray-modern-200: #E3E8EF;
$gray-modern-300: #CDD5DF;
$gray-modern-400: #9AA4B2;
$gray-modern-500: #697586;
$gray-modern-600: #4B5565;
$gray-modern-700: #364152;
$gray-modern-800: #202939;
$gray-modern-900: #121926;
$gray-modern-950: #0D121C;


