@use './fonts_connect';

$rb-font: 'Roboto', sans-serif;
$rb-weight-thin: 100;    
$rb-weight-light: 300;   
$rb-weight-regular: 400; 
$rb-weight-medium: 500;  
$rb-weight-semibold: 600;
$rb-weight-bold: 700;    
$rb-weight-black: 900;

$font-size12: 12px; 
$font-size14: 14px;
$font-size15: 15px;
$font-size16: 16px; 
$font-size18: 18px; 
$font-size20: 20px;
$font-size24: 24px;
$font-size26: 26px;
$font-size28: 28px;
$font-size32: 32px;
$font-size36: 36px;
$font-size38: 38px;
$font-size44: 44px;
$font-size48: 48px;
$font-size56: 56px;
$font-size64: 64px;
$font-size68: 68px;
$font-size72: 72px;

