@use './colors' as colors;
@use './fonts_connect';
@use './fonts_variables' as fonts;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: fonts.$rb-font;
    font-display: optional;
    letter-spacing: 0.5px;
}

button{
    letter-spacing: 0.5px;
}

a{
    text-decoration: none;
    color: inherit;
}