@use '../../../../styleConfig/colors' as color;

.header{
    width: 100%;
    border-bottom: 1px solid #20293942;
}

.header-content{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

.header-tpln {
    display: flex;
}