@use '../../../../styleConfig/fonts_variables' as font;
@use '../../../../styleConfig/mixins' as mixins;
@use '../../../../styleConfig/colors' as color;
@use '../../../../styleConfig/block_varibales' as blockvb;

.search-item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    background: color.$white;
    border-radius: 10px;
    overflow: hidden;
}

.search-item-header--prefix{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease;
    color: color.$gray-modern-400;
}

.search-item-header--title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis;;
    font-size: font.$font-size16;
    color: color.$gray-modern-800;
    max-width: fit-content;
    overflow: hidden;
}

.search-item-header--suffix{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease;
    color: color.$gray-modern-700;
    margin-left: auto;
}

.suffix-rotate{
    transform: rotate(180deg);
}

@media (max-width: 480px){
    .search-item-header{
        padding: 10px 16px;;
    }
}